<div class="jumbotron animated fadeInLeft" style="background-color: white">

	<div class=" text-center">
		<img width="20%" src="https://pluralsight.imgix.net/paths/path-icons/angular-14a0f6532f.png">
		<h1>Angular Team Training</h1>
		<p>Your Progress</p>
		<div class="progress">
				<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
				aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" ng-style="{width: vm.loader + '%'}">
				
				</div>
			  </div>
		<button class="btn btn-secondary">Back 1 step</button>
		<button class="btn btn-primary" ng-click="vm.clearCookies()" style="background-color: #D32F2F">Reset Training</button>
		<br/>
		<br/>
			
	</div>
	<br/>
	<div ng-click="vm.hello(instruction.step, instruction.id)" class="panel text-center animated fadeInLeft"   ng-class="{ 'animated fadeInLeft': instruction.id === vm.selectedIndex}" ng-repeat="instruction in vm.instructions"
	 ng-if="vm.exer < instruction.id" style="-webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    border-radius:5px;">

		<div class="panel-heading" style="background-color: #D32F2F; color:white">
			<h3 ng-bind="::instruction.step"></h3>
		</div>
		<p ng-bind="::instruction.text"></p>
		<p ng-bind="::instruction.endpoint"></p>
		<p ng-bind="::instruction.response"></p>
		<p class="text-center">Exemplo: </p>
		<img class="img-responsive center-block" ng-src="{{instruction.exemplo}}">
	</div>
</div>