
<div class="form-group ">
	<label for="exampleInputEmail1">ID</label>
	<input type="number" class="form-control" id="id_client" placeholder="123">
</div>
<div class="form-group">
	<label for="exampleInputEmail1">Nome</label>
	<input type="text" class="form-control" id="nome_client" placeholder="Jon">
</div>
<div class="form-group">
	<label for="exampleInputEmail1">Cidade</label>
	<select class="form-control" id="cidade_client">
		<option>Jundiai</option>
		<option>São Paulo</option>
		<option>Gotham City</option>
	  </select>
  </div>
  <div class="form-group">
	<label for="exampleInputEmail1">Idade</label>
	<input type="number" class="form-control" id="idade_client" placeholder="23">
  </div>
  <div class="form-group">
	<label for="exampleInputEmail1">Estado Civil</label>
	<input type="text" class="form-control" id="ec_client" placeholder="Solteiro">
  </div>
  <div class="text-center">
	<button type="submit" class="btn btn-success">Submit</button>
	<button type="cancel" class="btn btn-danger">Erase</button>
  </div>
</div>